body{
    background-image: url("nature1.jpg.jpeg");
    background-size: cover;
}
.tableau-style{
    border: 2px solid red;
    color: red;
    border-collapse: collapse;
    box-sizing: content-box;
}
.titre{
    text-align: center;
    margin: 500px;
    width: 50px;
}

.body{
    border: 2px solid red;
}

.lion{
    text-align: center;
    border: red solid 3px;
}